.title {
    text-align:center;
    font-size:48px;
    color:#570b8a;
}

th {
    box-align:right;
    text-align:center;
}

.link {
    margin-top:70px;
    margin-inline-start:350px;
    margin-inline-end:350px;
    background-color:#355070;
    font-size:48px;
    
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}
.tb {
    background-color:#355070;
}
a {
    color:rgb(10, 182, 182)
}
li {
    font-size:25px;
}
img {
    width:450px;
    height:300px
}
.center {
    background-color:#355070;
    margin-inline:200px;
}
.page {
    color:rgb(36, 223, 126)
}
.img {
    margin-left:auto;
    margin-right:auto;
    display:block
}
.source {
    text-align:center;
    color:yellow

}    

html {
    height:100%;
    min-height:100%;
}
p > a {
    color:red
}
tr {
    color:rgba(10, 182, 182, 0.808)
}
.key-home {
    text-align:center
}
#head-table {
    margin-top:200px
}
.carousel-item {
    height:800px
}
.windows {
    height:800px;
    background-color: #355070;
}
img+p, a+p{
    font-size:20px
}
h1 {
    color:#570b8a
}
nav{
    background-color: #305d94;
}
.nav-link {
    color:rgba(10, 182, 182, 0.808);
}
.navbar-brand {
    font-size:30px
}
.milestone-nav {
    background-color: #324c6b;
}
footer {
    width:100%;
    margin-top:318px;
    margin-bottom:0%;
    border:none;
    font-weight:bolder;
    text-align:center;
    background-color: #193961;
}
.information {
    font-size:20px;
    text-align:justify;
}
p > ul > li > a {
    color:beige
}
.information + p {
    text-align: center;
    color: aliceblue;
    font-size: larger;
}